body {
    padding-top: 70px;
  }
  .ogloszenieNaLiscie {
      margin-top: 10px;
      background-color: #eee;
      border-radius: 10px;
      padding: 5px;
  }
  .ogloszenieNaLiscie > div > img {
    margin-top: 20px;
  }
  .btn-group {
    display: inline-block;
    }
  .right {
    text-align: right;
    }