<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container">
    <div th:if="${message}">
        <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </div>
    <div th:if="${errorMessage}">
        <div class="alert alert-info" role="alert" th:text="${errorMessage}"></div>
    </div>
    <div class="col-md-3">
        <div th:replace="fragments/filter"></div>
    </div>
    <div class="col-md-9">
        <div th:each="samochod: ${samochody}" class="row ogloszenieNaLiscie">
            <div class="col-md-4">
                <img th:src="${samochod.zdjecia.size() gt 0} ? ${prefix + samochod.zdjecia.get(0).sciezka} : 'http://placehold.it/800x533?text=brak+zdjecia'" class="img-responsive"></img>
                <div>Cena: <span th:text="${#numbers.formatDecimal(samochod.cena, 1, 2)}">cenaPln</span> zł / <span
                        th:text="${#numbers.formatDecimal(samochod.cenaUsd, 1, 2)}">cenaUsd</span> USD / <span
                        th:text="${#numbers.formatDecimal(samochod.cenaEur, 1, 2)}">cenaEur</span> EUR
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-8">
                        <a th:href="@{/cars/{id}(id=${samochod.id})}">
                            <h3 th:text="${samochod.tytul}">Tytul</h3>
                        </a>
                    </div>
                    <div class="col-md-4 right">
                        <div class="btn-group">
                            <a th:href="@{/edit/{id}(id=${samochod.id})}" class="btn btn-warning btn-xs" role="button">Edytuj</a>
                            <a th:href="@{/delete/{id}(id=${samochod.id})}" class="btn btn-danger btn-xs" role="button">Usuń</a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <td>Marka</td>
                        <td th:text="${samochod.marka.nazwa}">Model</td>
                    </tr>
                    <tr>
                        <td>Model</td>
                        <td th:text="${samochod.model}">Model</td>
                    </tr>
                    <tr>
                        <td>Rok produkcji</td>
                        <td th:text="${samochod.rokProdukcji}">Rocznik</td>
                    </tr>
                    <tr>
                        <td>Pojemność skokowa</td>
                        <td th:text="${samochod.pojemnoscSkokowa}">Pojemność skokowa</td>
                    </tr>
                    <tr>
                        <td>Przebieg</td>
                        <td th:text="${samochod.przebieg}">Przebieg</td>
                    </tr>
                    <tr>
                        <td>Moc</td>
                        <td th:text="${samochod.moc}">Moc</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div th:replace="fragments/pagination"></div>
</div>
<div th:replace="fragments/scripts"></div>
</body>
</html>