<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container">
    <div th:if="${message}">
        <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </div>
    <div th:if="${errorMessage}">
        <div class="alert alert-info" role="alert" th:text="${errorMessage}"></div>
    </div>
    <div class="col-md-3">
        <div th:replace="fragments/filter"></div>
    </div>
    <div class="col-md-9">
        <div th:each="samochod: ${samochody}" class="row ogloszenieNaLiscie">
            <div th:replace="fragments/singleCar"></div>
        </div>
    </div>

    <div th:replace="fragments/pagination"></div>
</div>
<div th:replace="fragments/scripts"></div>
</body>
</html>