<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <div th:replace="fragments/head"></div>
</head>
<body>
<div th:replace="fragments/navbar"></div>

<div class="container">

    <div th:if="${message}">
        <div class="alert alert-success" role="alert" th:text="${message}"></div>
    </div>
    <div th:if="${errorMessage}">
        <div class="alert alert-info" role="alert" th:text="${errorMessage}"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form th:action="@{/login}" method="post" class="form-signin">
                <h2 class="form-signin-heading">Zaloguj się</h2>
                <label for="username" class="sr-only">Nazwa użytkownika</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Nazwa użytkownika"/>
                <label for="password" class="sr-only">Hasło</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Hasło"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj się</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div th:replace="fragments/scripts"></div>
</body>
</html>